/*General settings*/
:root {
    --font-family-one: Roboto;
    --font-family-two: Chelsea Market;
    --font-family-three: serif;
    --font-size-one: 1rem;
    --font-size-two: 30px;
    --font-size-two: 25px;
    --background-color-one: rgb(6, 79, 174);
    --background-color-two: rgb(14, 92, 227);
    --color-one: rgb(252, 223, 5);
    --color-two: rgb(235, 235, 11);
    --transition: all 0.3s;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
} 
a {
  text-decoration: none;
  transition: var(--transition);
  cursor: pointer;
}
a:hover,
a:active {
  color: #cf711f;
}
a:hover {
  transform: translateY(-3px);
}
a:visited {
  color:rgb(4, 67, 150);
}
/* Different parts */
/* Header */
.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--background-color-one);
  height: 6rem;
  padding: 0 4rem;
  position: sticky;
  z-index: 999;
  box-shadow: 0 1.15rem 3.1rem rgba(0, 0, 0, 0.03);
}
#name {
  font-family: var(--font-family-two);
  font-size: var(--font-size-two);
  color: var(--color-one);
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  font-family: var(--font-family-one)l;
  font-size: var(--font-family-two);
  display: inline-block;
  text-decoration: none;
  color: var(--color-two);
  font-weight: 500;
  font-size: 1.8rem;
  transition: var(--transition);
}
.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(230, 115, 14);
}
/* Hamburger menu */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4rem;
  width: 4rem;
  color: rgb(235, 235, 11);
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
nav a {
    padding: 0 10px;
    display: inline;
}
/* Main starts */
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2px;
}
/* Place starts */
#places {
  grid-column: 1 / 13;
}
.title {
  margin: 2.25rem;
  font-family: var(--font-family-one);
  font-size: var(--font-size-two);
  font-weight: 600;
  color: rgb(26, 24, 24);
}
.slides {
  display: none;
}
img {
  vertical-align: middle;
}
/* Slideshow container */
.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slide-picture {
  width: 100%;
  height: 400px;
  border-radius: 28px;
}
/* The next and previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Put the "next button" on the right side */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(54, 53, 53, 0.8);
}
/* The text on each slide */
.text {
  color: #fefafa;
  font-size: 35px;
  padding: 6px 15px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The numbers on the left top*/
.number-text {
  color: #f6efef;
  font-size: 15px;
  padding: 11px 15px;
  position: absolute;
  top: 0;
}
/* The dots */
#dot-container {
  margin: 0 auto;
}
.dot {
  cursor: pointer;
  height: 13.8px;
  width: 13.8px;
  margin: 0 3px;
  background-color: #c7c3c3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #767070;
}
/* Add fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* People starts */
#people {
  grid-column: 1 / 13;
}
#great-people {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
.people-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1px;
  row-gap: 1px;
  margin: 8px;
  max-width: 500px;
  max-height: 300px;
  padding: 10px;
  font-family: var(--font-family-three);
  font-size: 15px;
  border: 1px solid var(--color-one);
  box-shadow: 1px 2px 2px var(--background-color-two);
  border-radius: 10px;
}
.people-container:hover {
  transform: translateY(-10px);
}
.img-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 210px;
  height: 210px;
  box-shadow: 1px 2px 2px 1px #767070;
  transition: transform 2s ease;
  border-radius: 15px;
}
.person-picture {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.people-name {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 3px auto;
  font-size: 20px;
  font-weight: 700;
}
.people-life {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
}
.people-description {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  font-size: 18px;
  font-weight: 500;
}
/* Culture starts */
#more {
  grid-column: 1 / 13;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  row-gap: 3px;
}
#more h2 {
  grid-column: 1 / 2;
}
.video-container {
  margin: auto 0.5rem;
  grid-column: 1 / 2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
#more-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#more-details {
  grid-column: 2 / 3;
  margin-top: 20px;
}
#more-title {
  font-family: var(--font-family-two);
  font-size: 20px;
  font-weight: 400;
  margin: auto 10px;
}
#more-lists {
  list-style-position: outside;
  font-size: 18px;
  margin: 8px 0;;
  line-height: 1.35em;
}
#more-statistics {
  font-size: 17.8px;
  margin: auto 10px;
}
/* Footer starts */
footer {
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: var(--background-color-one);
    bottom: 0;
    font-family: var(--font-family-two);
    font-size: 14px;
    color: var(--color-two);
    text-align: center;
}
/* Media queries for responsive design start */
/* Below 1200px*/
@media (max-width: 1200px) {
  .text {
    font-size: 26px;
  }
  .people-container {
    width: 450px;
    height: 450px;
   }
   .img-container {
     width: 200px;
     height: 210px;
   }
   .people-name {  
    margin: 8px auto 0;
    font-size: 18px;
  }
  .people-life {
    margin: 0 auto;
  }
  #more-details {
    margin: 10px;
  }
}
/* Below 944px*/
@media (max-width: 944px) {
  /* Hamburger menu */
  .btn-mobile-nav {
    display: block;
    z-index: 999;
  }
  .main-nav {
    background-color: var(--background-color-one);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 200px;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 1.5rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2rem;
  }
  .slide-picture {
    height: 400px;
  }
  .people-container {
    width: 418px;
    height: 400px;
   }
   .img-container {
     width: 180px;
     height: 220px;
   }
   .people-name {  
    font-size: 17.8px;
  }
  .people-life {
    font-size: 15px;
  }
  .people-description {
    font-size: 16.18px;
    margin: 8px auto;
  }
  #more-details {
    margin: 3px;
  }
  #more-title {
    font-size: 18px;
    margin: auto 5px;
  }
  #more-lists {
    font-size: 16px;
    margin: 3px 0;
  }
  #more-statistics {
    font-size: 14px;
    margin: auto 5px;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .img-container {
    width: 170px;
  }
  #more-title {
    font-size: 16px;
  }
  #more-lists {
    font-size: 14px;
  }
  #more-statistics {
    font-size: 12px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .img-container {
    width: 140px;
  }
  .people-description {
    font-size: 14px;
  }
  .video-container {
    grid-column: 1 / 3;
  }
  #more-details {
    grid-column: 1 / 3;
    margin: 8px auto;
  }
  #more-title {
    font-size: 18px;
  }
  #more-lists {
    font-size: 16px;
  }
  #more-statistics {
    font-size: 15px;
  }
}
/* Below 300px */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {
    font-size: 11px
  }
  .img-container {
    width: 100px;
    height: 230px;
  }
  .people-name {
    font-size: 12px;
  }
  .people-description {
    font-size: 12.68px;
  }
}